@{
    ViewBag.Title = "Home Page";
}

<br/>
<a class="btn btn-primary" href="@Url.Action("index", new {  controller="books"})">Перейти к управлению книгами</a>
<a class="btn btn-primary" href="@Url.Action("index", new {  controller="authorsedit"})">Перейти к управлению авторами</a>